# Secrets
.env
.env.*
*.key
*.pem
*.p12
*.pfx
*.cer
*.crt
id_rsa
id_dsa
id_ecdsa
id_ed25519
*.pub

# IDE
.idea/
.vscode/
.obsidian/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
Desktop.ini

# Notes (excluded from repo)
notes/

# Build / temp
*.log
*.tmp
dist/
build/
dotfiles/waybar/.cache/
dotfiles/waypaper/.config/waypaper/config.ini
dotfiles/hypr/.config/hypr/hyprlock.conf
dotfiles/mako/.config/mako/config
dotfiles/starship/.config/starship.toml